@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}



:root {
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --heading-color2:rgba(141, 141, 235, 1);
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
  /* --font-name: "Questrial", sans-serif; */

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}


body {
  background-color: var(--bg-gradient);
  font-family: "Questrial", sans-serif;
 
  /* min-height: 100vh; */
}

html {
  scroll-behavior: smooth;
scroll-padding-top: 5rem;
}